{% extends "base.html" %}
{% block content %}
<div class="full-page-form-container form-main">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{category}}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('account.forgot_password') }}" method="post">
      <p class="heading-medium text-left">ACCOUNT VERIFICATION</p>
      <input type="text" name="email_phone" placeholder="Enter your registered Email or Phone" required="required" />
      <button type="submit" class="btn-1">
        GET PASSWORD RESET MAIL
      </button>
    </form>
</div>
{% endblock %}