{% extends "base.html" %} {% block content %}
<div class="full-page-form-container form-main">
  <form action="{{ url_for('account.login') }}" method="post">
    <p class="heading-medium text-left">{{ instruction }}</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            {% for category, message in messages %}
              <div class="{{category}}">{{ message }}</div>
            {% endfor %}
      {% endif %}
  {% endwith %}
    {% if prev_page == 'enroll' %}
      <input type="hidden" id="prev-page" name="prev-page" value="enroll">
    {% endif %}
    <input type="text" name="email-phone" placeholder="Email or Phone" required="required" />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" class="btn-1">Log In</button>
    <a class="red-color" href="{{ url_for('account.forgot_password') }}">Forgot Password</a>
    <label>If you haven't registered</label>
    <a href="{{ url_for('account.register') }}"><button type="button" class="btn-gray">Register</button></a>
  </form>
</div>

{% endblock %}
