{% extends "base.html" %}
{% block content %}

<style>
    .gallery-full-width {
        width:100%;
        background: black;
    }
    .gallery-full-width img {
        padding-bottom: 1%;
    }

    .heading-extra-large {
        background: black;
        color: white;
    }
</style>
<div style="background: black; padding:2% 2%;">
    <div class="heading-extra-large">
        <p class="text-center">CHARACTER CONCEPT</p>
    </div>
    <div class="gallery-full-width">
        <img src="static/images/character/c1.jpg" width="100%">
        <img src="static/images/character/c2.jpg" width="100%">
        <img src="static/images/character/c3.jpg" width="100%">
    </div>


    <div class="heading-extra-large">
        <p class="text-center">ENVIRONMENT CONCEPT</p>
    </div>
    <div class="gallery-full-width">
        <img src="static/images/environment/e2.jpg" width="100%">
        <img src="static/images/environment/e1.jpg" width="100%">
        <img src="static/images/environment/e3.jpg" width="100%">
        <img src="static/images/environment/e4.jpg" width="100%">
    </div>

    <div class="heading-extra-large">
        <p class="text-center">PROPS AND OTHERS</p>
    </div>
    <div class="gallery-full-width">
        <img src="static/images/props/p1.jpg" width="100%">
        <img src="static/images/props/p2.jpg" width="100%">
    </div>
</div>
<div style="display: flex; justify-content: center; background:black;">
    <a href="https://shwetabhsuman.com" class="btn-1 text-center heading-medium" target="_blank" style="width:30%; text-decoration:none;">COMPLETE PORTFOLIO</a>
</div>

{% endblock %}